<tr>
	<td>
		<%= category.name %>
	</td>
	<td>
		<%= category.type_of_transaction %>
	</td>
	<td>
		<%= link_to "Edit", edit_category_path(category.id)%> |
		<%= link_to "Delete",category_path(category.id), method: :delete, data: { confirm: "Are you sure?" } %>
	</td>
</tr>
